.videos-container {
  display: grid;
}
.top-container {
  display: grid;
  grid-auto-columns: 33.33%;
  grid-template-areas: "item1 item1 item2";
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}
.bottom-container {
  display: grid;
  grid-auto-columns: 33.33%;
  grid-template-columns: auto auto auto;
}

@media (max-width: 500px) {
  .top-container {
    grid-template-columns: auto;
    grid-template-areas:
      "item1"
      "item2";
  }
  .bottom-container {
    display: grid;
    grid-auto-columns: 33.33%;
    grid-template-columns: auto;
  }
}
