.CovidFirstItem-container {
  background-color: white;
  color: black;
  padding: 10px;
  height: 350px;
}

.CovidFirstItem-content {
  display: flex;
  flex-direction: column;
}

.CovidFirstItem-image {
  height: 250px;
}
