.ThirdItem-container {
  display: flex;
  margin-top: 10px;
}

.ThirdItem-image {
  width: 30%;
  height: 80px;
}

.ThirdItem-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.ThirdItem-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 500px) {
  .ThirdItem-container {
    display: flex;
    flex-direction: column;
  }
  .ThirdItem-image {
    width: 100%;
    height: 260px;
  }
  .ThirdItem-content {
    padding-left: 0px;
    margin-bottom: 10px;
  }
}
