.ThirdItem-container {
  display: flex;
  margin-top: 15px;
}

.ThirdItem-image {
  width: 30%;
  height: 80px;
}

.ThirdItem-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.ThirdItem-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ThirdItem-authorName {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: gray;
}
