.stories-container{
  display:grid;
  grid-template-columns: auto auto auto auto;
}

@media only screen and (max-width: 1000px) {
  .stories-container{
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 720px) {
  .stories-container{
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .stories-container{
    grid-template-columns: auto;
  }
}
