.FirstItem-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}
.firstItem-image {
  width: 100%;
  height: 270px;
}
.firstItem-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: space-between;
}
.firstItem-headline {
  font-size: 28px;
  font-weight: 500;
}
.firstItem-authorName {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: gray;
}
@media (max-width: 500px) {
  .FirstItem-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .firstItem-content {
    padding-left: 0px;
    margin-bottom: 10px;
  }
  .firstItem-authorName {
    margin-top: 5px;
  }
  .firstItem-image {
    width: 100%;
    height: 260px;
  }
  .firstItem-headline {
    margin-top: 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
