.FirstItem-container {
  display: flex;
  padding: 10px;
}
.firstItem-image {
  width: 50%;
  height: 290px;
}
.firstItem-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.firstItem-headline {
  font-size: 28px;
  font-weight: 500;
}
.firstItem-authorName {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
@media (max-width: 500px) {
  .FirstItem-container {
    display: flex;
    flex-direction: column;
  }
  .firstItem-content {
    padding-left: 0px;
  }
  .firstItem-authorName {
    margin-top: 2px;
  }
  .firstItem-image {
    width: 100%;
    height: 260px;
  }
  .firstItem-headline {
    font-size: 16px;
    font-weight: 500;
  }
}
