.collection-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px;
}
.twoCollectionContainer-root {
  margin: 40px 0;
}

.twoCollectionContainer-title {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}
