.SeventhItem-container {
}
.SeventhItem-content {
  display: flex;
  flex-direction: column;
}
.SeventhItem-headline {
  overflow: hidden;
  margin-top: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.SeventhItem-authorName {
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: gray;
}
