.covid-root {
  background-color: black;
  color: white;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
.covid-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "item1 item1  item2"
    "item1 item1  item2"
    "item1 item1  item2";
  height: 350px;
}
.covid-item1 {
  grid-area: item1;
}

.covid-item2 {
  grid-area: item2;
  overflow: scroll;
  overflow-x: hidden;
  height: 320px;
}

.covid-title {
}

.covid-item2::-webkit-scrollbar {
  width: 5px;
}

.covid-item2::-webkit-scrollbar-track {
  background: black;
}

.covid-item2::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

.covid-item2::-webkit-scrollbar-thumb:hover {
  background: #555;
}
