.covid-root {
  background-color: black;
  color: white;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
.covid-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-areas:
    "title title title"
    "item1 item1  item2"
    "item1 item1  item2"
    "item1 item1  item2";
  height: 460px;
}
.covid-item1 {
  grid-area: item1;
}

.covid-item2 {
  grid-area: item2;
  overflow-y: scroll;
  height: 370px;
}

.covid-title {
  grid-area: title;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
}

.covid-item2::-webkit-scrollbar {
  width: 5px;
}

.covid-item2::-webkit-scrollbar-track {
  background: black;
}

.covid-item2::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

@media only screen and (max-width: 550px) {
  .covid-container {
    grid-template-areas:
      "title "
      "item1 "
      "item2";
    height: 840px;
    grid-row-gap: 10px;
  }
  .covid-item2 {
    grid-area: item2;
    overflow: auto;
    height: 370px;
  }
}
