.SecondBox-container {
  display: flex;
  margin-top: 10px;
}
.SecondBox-image {
  width: 30%;
  height: 80px;
}
.SecondBox-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.SecondItem-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 500px) {
  .SecondBox-container {
    display: flex;
    flex-direction: column;
  }
  .SecondBox-image {
    width: 100%;
    height: 260px;
  }
  .SecondBox-content {
    padding-left: 0px;
    margin-bottom: 10px;
  }
}
