.SecondBox-container {
  display: flex;
  margin: 10px;
}
.SecondBox-image {
  width: 30%;
  height: 80px;
}
.SecondBox-content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
@media only screen and (max-width: 500px) {
  .SecondBox-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .SecondBox-image {
    width: 100%;
    height: 260px;
  }
  .SecondBox-content {
    padding-left: 0px;
  }
}
