.SixthItem-container {
}
.SixthItem-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.SixthItem-headline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
